* {
  font-family: "Metropolis-Medium", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgb(233, 233, 233);
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

/* ******* navigation styling ************* */

nav {
  background-color: #383838;
  height: 60px;
  color: gray;
}

.user-img {
  width: 40px;
  border-radius: 50px;
}

nav .wrapper {
  width: 80vw;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

form a {
  text-decoration: none;
  color: white;
  background-color: #383838;
  padding: 7px 12px;
  margin-left: 5px;
}

nav .wrapper a {
  color: gray;
  padding-right: 15px;
  font-weight: 600;
  text-decoration: none;
}

nav .wrapper .user {
  color: white;
}

nav .wrapper a:hover {
  color: #d35266;
}

nav .wrapper .right-links {
  align-items: center;
}

nav .wrapper .right-links .brand {
  color: white;
  font-size: 1.3em;
}

footer .socials i {
  padding-left: 20px;
}

nav .wrapper .right-links .brand i {
  color: #d35266;
  margin-right: 7px;
}

.badge {
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13px;
}

nav .wrapper .right-links .post {
  background-color: #d35266;
  color: white;
  font-size: 0.8em;
  border-radius: 3px;
  padding: 10px 15px;
}

.navbar .nav-container {
  width: 80vw;
  margin: 0 auto;
  align-items: center;
}

/* jumbotron styling  */

.jumbotron {
  background-color: #d35266;
  padding: 30px;
  color: white;
}

.jumbotron .display-4 {
  font-weight: 700;
  color: white;
}

.jumbotron form input {
  width: 300px;
}

.jumbotron form input:focus,
select:focus {
  outline: none;
}

.glide {
  width: 75vw;
  margin: 0 auto;
}

.glide__arrow--left {
  left: -3em;
}

.glide__arrow--right {
  right: -2em;
}

.glide__arrow {
  color: #d35266;
  background-color: transparent;
  border: 1px solid #d35266;
  border-radius: 100px;
  box-shadow: 0 0.25em 0.5em 0 rgb(0 0 0 / 10%);
  text-shadow: 0 0.25em 0.5em rgb(0 0 0 / 10%);
}

.cards {
  width: 80vw;
  margin: 0 auto;
}

.card-body {
  padding: 7px 5px;
}

.card-title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 1em;
}

.card-text {
  margin: 0;
  padding: 0;
}

.new {
  color: #d35266;
  font-weight: 600;
}

.location {
  font-size: 0.9em;
  font-weight: 600;
}

.fa-plus-square {
  color: rgb(190, 190, 190);
  font-size: 1.7em;
  margin: 0;
}

.price {
  padding: 0;
}

.amount {
  margin: 0;
  color: #d35266;
  font-weight: 600;
}

.cat-card .card-img-top {
  height: 200px;
}

.heading-text {
  border-bottom: 1px solid #888;
  font-size: 1em;
  font-weight: 600;
  padding: 10px 20px;
  margin-bottom: 50px;
}

.heading-text span {
  color: gray;
  font-weight: 500;
  font-size: 0.9em;
}

.heading-icon {
  color: gray;
}

.home-slider {
  background-color: white;
  height: 335px;
  padding: 20px 0;
}

.glide .heading-text {
  border: none;
  color: #888;
  padding: 0;
  margin: 0;
}

.horicard {
  height: 180px;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 15px 0;
}

.glide .horicard {
  height: 230px;
  border: none;
  padding: 0;
  font-size: 1em;
  background-color: white;
}

.glide .horicard .title {
  color: #d35266;
  font-size: 1.3em;
  font-weight: 700;
}

.glide .horicard .buy-prince {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.glide .horicard .price {
  background-color: #d35266;
  color: white;
  padding: 7px 15px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.text-body .card-text {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

.glide .horicard .card-text {
  font-size: 1em;
  padding-bottom: 10px;
}

/* search result page  */

.top-check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top-check label {
  margin-right: 10px;
}

.result-wrapper {
  background-color: rgb(233, 233, 233);
  width: 80vw;
  margin: 0 auto;
}

.result-wrapper .sidebar {
  width: 25%;
  border-right: 1px solid gray;
  padding-right: 20px;
}

.home-slider.sidebar form {
  margin-bottom: 20px;
}

.result-wrapper .main-content {
  width: 73%;
}

.pagin {
  width: 15%;
  margin: 0 auto;
  margin-top: 30px;
}

.pagin .nums {
  background-color: white;
  border: 1px solid #888;
  padding: 0 10px;
  margin: 0 5px;
  border-radius: 3px;
}

.pagin .acive-one {
  background-color: #d35266;
  border: 1px solid #888;
  color: white;
}

.heading {
  font-size: 1.1em;
  padding: 0;
  margin: 0;
  font-weight: 700;
  border-bottom: 1px solid #888;
}

.headings {
  font-size: 1.1em;
  padding: 0;
  margin-top: 20px;
  font-weight: 700;
  border-bottom: 1px solid #888;
}

.horicard img {
  width: 25%;
}

.text-body {
  width: 72%;
}

.text-body .condition {
  color: #d35266;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.text-body .card-text .location {
  margin-top: 10px;
}

.search-cont span {
  color: black;
}

footer .fa-artstation span {
  font-family: "Metropolis-Medium", sans-serif;
  padding-left: 10px;
}

footer section .country span {
  color: gray;
  padding-left: 40px;
}

.result-wrapper .text-body .card-text span {
  font-weight: 700;
  margin-top: 10px;
}

.result-wrapper .text-body .date-prince {
  align-items: center;
}

.result-wrapper .text-body .date-prince .price {
  font-weight: 700;
  background-color: #d35266;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.date {
  color: gray;
  font-weight: 600;
  font-size: 0.9em;
}

.result-wrapper .main-content .horicard .title-wrapper i {
  color: gray;
}

footer section h5 {
  font-size: 1em;
  color: #d35266;
  font-weight: 700;
  border-bottom: 2px solid #d35266;
}

.result-wrapper .main-content .horicard .title-wrapper h5 {
  font-weight: 600;
  font-size: 0.9em;
  width: 80%;
}

.for-mobile {
  display: none;
}

/* footer styling */

footer {
  margin-top: 50px;
  border-top: 1px solid gray;
  background-color: white;
  padding-top: 50px;
}

footer section {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 0 auto;
  flex-wrap: wrap;
}

footer .logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .fa-artstation {
  font-size: 2em;
  color: #888;
}

footer section > .logo-section,
.category,
.country {
  width: 31%;
}

footer section .category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

footer section .country {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer section .country .item {
  font-size: 1em;
  color: #d35266;
  font-weight: 700;
  padding: 1px 23px;
}

footer section .category ul {
  padding: 0;
  margin: 0;
}

footer section .category ul li {
  list-style: none;
}

* + p {
  margin-top: 1px;
}

footer .social-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  width: 100vw;
  padding: 20px 30px;
}

footer .socials {
  display: flex;
  justify-content: flex-end;
}

.search-cont {
  font-weight: 700;
  color: gray;
}

.details {
  width: 70vw;
  margin: 0 auto;
}

.details .img-container {
  width: 60vw;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .result-wrapper {
    width: 90vw;
  }

  footer section {
    width: 90vw;
  }
}

@media screen and (max-width: 850px) {
  footer .logo-section {
    flex-direction: column;
  }

  .jumbotron form input {
    width: 194px;
  }

  .slider-wrapper .horicard {
    height: 182px;
  }

  .home-slider {
    background-color: white;
    height: 251px;
    padding: 20px 0;
  }

  .home-slider .horicard {
    height: 170px;
  }

  .glide .horicard .card-text {
    font-size: 0.8em;
  }

  footer .social-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer section .logo-section,
  .category {
    width: 48%;
  }

  footer section .country {
    width: 100%;
    border-top: 2px solid #d35266;
  }

  .for-mobile {
    display: block;
    width: 95vw;
    margin: 0 auto;
  }

  .card {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  }

  .main-content {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .cat-card .card-img-top {
    height: 240px;
  }

  footer section {
    width: 95vw;
  }

  footer section .country .item {
    padding: 1px 2px;
  }
}

@media screen and (max-width: 468px) {
  nav .wrapper {
    width: 95vw;
  }

  nav .wrapper .right-links .brand {
    font-size: 1em;
  }

  nav .wrapper a {
    font-weight: 700;
    font-size: 0.6em;
  }

  .home-slider {
    display: none;
  }

  .mt-5 {
    margin-top: 1rem !important;
  }

  footer section .logo-section,
  .category,
  .country {
    width: 100%;
  }

  .for-mobile {
    display: block;
  }
}

.caro1 {
  height: 100%;
  background-color: red;
}

.caro2 {
  height: 100%;
  background-color: blue;
}

.caro3 {
  height: 100%;
  background-color: green;
}
